@model GetProductsBySalesAmountForEachYearResponse

@{
    ViewData["Title"] = "ProductsBySalesAmountForEachYear";
}

<table class="table">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>Name</th>
            <th>Color</th>
            <th>Size</th>
            <th>Weight</th>
            <th>Order Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductsBySalesAmountForEachYear)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderYear)
                </td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-info">
    @Html.ActionLink("Back To Reports", "ChooseReport")
</button>